body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.filter-container {
  float: left;
  width: 20%;
}

.filter-div {
  color: green;
  margin: 10px;
  padding: 5px;
}

#product-container {
  float: left;
  margin: 10px;
  width: 75%;
}

#product-container div {
  float: left;
  margin: 10px;
  padding: 5px;
}

#product-container div img {
  border: 1px solid black;
  max-width: 80%;
}

.filterElement {
  display: block;
  text-transform: capitalize;
}

.paginationBar {
  bottom: 0;
  left: 50%;
  position: absolute;
}

.highlight {
  color: green;
  font-size: 26px;
  font-weight: bold;
}

.page-number {
  cursor: pointer;
  margin: 5px;
}

.page-number:hover {
  color: red;
  font-weight: bold;
}
